@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100dvh;
}

input:focus {
    outline: 2px solid #F8717150;
}

.flip-card-inner {
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.flip-card-rotate .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.flip-card-back {
    transform: rotateY(180deg);
}

.important-height {
    max-height: calc(100dvh - 16px);
}

.hanbun-white {
    background-color: rgb(255 255 255 / 0.5)
}

.modal-container {
    height: 100dvh;
    z-index: 20;
}