@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'SB';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("./fonts/sb_m.ttf") format('truetype');
    }
}

@layer utilities {
    .custom-shadow {
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25); /* 스프레드 0 설정 */
    }
}

body {
    min-height: 100dvh;
}

input:focus {
    outline: 2px solid #F8717150;
}

.flip-card-inner {
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.flip-card-rotate .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.flip-card-back {
    transform: rotateY(180deg);
}

.slider-volume {
    @apply
    [&::-webkit-slider-thumb]:appearance-none
    [&::-webkit-slider-thumb]:h-6
    [&::-webkit-slider-thumb]:w-4
    [&::-webkit-slider-thumb]:rounded-full
    [&::-webkit-slider-thumb]:bg-[#416A58];
}